<app-sidebar></app-sidebar>
<div class="content-container lg:pl-[210px]">
    <div class="container bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-300">
        <div class="flex flex-wrap">
            <div class="relative mx-auto w-full h-screen mt-4">
                <!-- Image Slider -->
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div *ngFor="let item of selectedProjectData.images;" ngxSlickItem class="slide">
                        <div class="owl-carousel header-carousel position-relative">
                            <div class="owl-carousel-item position-relative">
                                <img class="w-full h-auto max-w-[55%] max-h-[55%] object-contain mx-auto" [src]="item"
                                    alt="Project Image">
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>

                <!-- Info Section -->
                <div class="pl-4 pr-4">
                    <h4 class="text-xl sm:text-3xl font-semibold">{{ selectedProjectData?.title }}</h4>
                    <h4 class="font-semibold">{{ selectedProjectData?.description }}</h4>
                    <ul class="space-y-1 sm:space-y-2">
                        <li><span class="font-bold">Clients:</span> {{ selectedProjectData?.client }}</li>
                        <li><span class="font-bold">Project year:</span> {{ selectedProjectData?.date }}</li>
                        <li><span class="font-bold">Project type:</span> {{ selectedProjectData?.projectType }}</li>
                        <li><span class="font-bold">Team:</span> {{ selectedProjectData?.team }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>