<app-sidebar></app-sidebar>
<div class="content-container lg:pl-[240px]">
    <div class="mx-auto px-4 py-8">
        <!-- Image Section -->
        <div class="rounded-lg overflow-hidden mb-8">
            <img src="{{selectedProjectData?.images[0]}}" alt="Dream Villa" class="w-full h-auto object-cover">
        </div>
        <!-- Text Section -->
        <div>
            <div class="lg:w-2/4 md:w-full">
                <h1 class="text-4xl font-bold dark:text-white">{{selectedProjectData?.title}}</h1>
                <p class="mt-4 text-gray-700 leading-relaxed dark:text-white">
                    {{selectedProjectData?.description}}
                </p>

            </div>


            <div
                class="mt-8 p-6 dark:bg-gray-900 bg-white dark:text-white rounded-lg lg:absolute lg:bottom-[0] h-[500px] lg:right-[120px] lg:w-[250px] md:relative md:w-full">
                <h2 class="text-4xl font-bold mb-4">{{selectedProjectData?.title}}</h2>
                <ul class="space-y-2">
                    <li class="text-2x1"><span class="font-bold text-2xl">Clients:</span>
                        {{selectedProjectData?.client}}</li>
                    <li class="text-2x1"><span class="font-bold text-2xl">Project year:</span>
                        {{selectedProjectData?.date}}</li>
                    <li class="text-2x1"><span class="font-bold text-2xl">Project type:</span>
                        {{selectedProjectData?.projectType}}
                    </li>
                    <li class="text-2x1"><span class="font-bold text-2xl">Team:</span> {{selectedProjectData?.team}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="relative mx-auto w-full h-screen mt-4">
            <!-- Image Slider -->
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div *ngFor="let item of selectedProjectData.images;" ngxSlickItem class="slide">
                    <div class="owl-carousel header-carousel position-relative">
                        <div class="owl-carousel-item position-relative">
                            <img class="w-full h-auto max-w-[55%] max-h-[55%] object-contain mx-auto" [src]="item"
                                alt="Project Image">
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>