<div class="dark:bg-gray-900 bg-white flex flex-col items-center px-4 mx-4 lg:px-16 lg:mx-14">
    <section id="about" class="my-5 py-5 relative w-full">
        <div class="container mx-auto px-5">
            <!-- Education and Experiences -->
            <div class="flex flex-wrap" data-aos="fade-up">
                <!-- Education -->
                <div class="w-full lg:w-1/2 pb-5 px-5">
                    <span class="text-gray-500 dark:text-gray-400 uppercase text-sm">Biodata</span>
                    <h2 class="text-4xl lg:text-6xl font-bold mb-5 text-gray-900 dark:text-white">Education</h2>
                    <div class="py-3" data-aos="fade-up">
                        <span class="text-sm text-gray-400 dark:text-gray-400">1998 - 2004</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Bachelors in
                            Engineering in Information Technology</h3>
                        <p class="text-gray-900 dark:text-white">Harvard School of Science and Management</p>
                    </div>
                    <div class="py-3" data-aos="fade-up" data-aos-delay="100">
                        <span class="text-sm text-gray-400 dark:text-gray-400">2004 - 2006</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Masters in Data
                            Analysis</h3>
                        <p class="text-gray-900 dark:text-white">Harvard School of Science and Management</p>
                    </div>
                </div>
                <!-- Experiences -->
                <div class="w-full lg:w-1/2 pb-5 px-5">
                    <h2 class="text-4xl lg:text-6xl font-bold mb-5 text-gray-900 dark:text-white">Experiences</h2>
                    <div class="py-3" data-aos="fade-up" data-aos-delay="200">
                        <span class="text-sm text-gray-400 dark:text-gray-400">2007 - 2012</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Creative Agency Inc.:
                            Design Head</h3>
                        <p class="text-gray-900 dark:text-white">Managed creative teams to deliver high-quality designs.
                        </p>
                    </div>
                    <div class="py-3" data-aos="fade-up" data-aos-delay="300">
                        <span class="text-sm text-gray-400 dark:text-gray-400">2013 - Present</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Studio Alpha: Project
                            Manager</h3>
                        <p class="text-gray-900 dark:text-white">Oversee projects ensuring timely delivery and client
                            satisfaction.</p>
                    </div>
                </div>
            </div>

            <!-- Interests and References -->
            <div class="flex flex-wrap" data-aos="fade-up">
                <!-- Interests -->
                <div class="w-full lg:w-1/2 pb-5 px-5">
                    <h2 class="text-4xl lg:text-6xl font-bold mb-5 text-gray-900 dark:text-white">Interests</h2>
                    <div class="py-3" data-aos="fade-up">
                        <span class="text-sm text-gray-400 dark:text-gray-400">Technology</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Innovating with
                            Technology</h3>
                        <p class="text-gray-900 dark:text-white">Passionate about leveraging technology for positive
                            change.</p>
                    </div>
                    <div class="py-3" data-aos="fade-up" data-aos-delay="100">
                        <span class="text-sm text-gray-400 dark:text-gray-400">Creativity</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Designing Solutions
                        </h3>
                        <p class="text-gray-900 dark:text-white">Love creating innovative solutions to complex problems.
                        </p>
                    </div>
                </div>
                <!-- References -->
                <div class="w-full lg:w-1/2 pb-5 px-5">
                    <h2 class="text-4xl lg:text-6xl font-bold mb-5 text-gray-900 dark:text-white">References</h2>
                    <div class="py-3" data-aos="fade-up" data-aos-delay="200">
                        <span class="text-sm text-gray-400 dark:text-gray-400">1998 - 2004</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Dr. Stephen H. King
                        </h3>
                        <p class="text-gray-900 dark:text-white">Expert in strategic management and mentorship.</p>
                    </div>
                    <div class="py-3" data-aos="fade-up" data-aos-delay="300">
                        <span class="text-sm text-gray-400 dark:text-gray-400">2004 - 2006</span>
                        <h3 class="text-lg lg:text-xl font-semibold text-gray-900 dark:text-white">Dr. David Howard</h3>
                        <p class="text-gray-900 dark:text-white">Renowned professor and career guide in technology.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>