<div
    class="fixed inset-y-0 left-0 z-20 flex flex-col w-64 h-full px-4 py-8 bg-white border-r transition-transform transform -translate-x-full lg:translate-x-0 sidebar">

    <h1 class="text-5xl font-semibold text-center text-blue-600 font-bold">Anushka</h1>

    <div class="md:hidden">
        <button (click)="toggleSidebar()" class="p-4 text-gray-500 focus:outline-none focus:bg-gray-200">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav>
            <a class="flex items-center px-4 py-2 text-gray-700 bg-gray-200 rounded-md" routerLink="/">
                <span class="mx-4 font-medium">Home</span>
            </a>
            <a class="flex items-center px-4 py-2 mt-5 text-gray-600 hover:bg-gray-200 rounded-md" routerLink="/about">
                <span class="mx-4 font-medium">About</span>
            </a>
            <a class="flex items-center px-4 py-2 mt-5 text-gray-600 hover:bg-gray-200 rounded-md"
                routerLink="/experience">
                <span class="mx-4 font-medium">Experience</span>
            </a>
            <a class="flex items-center px-4 py-2 mt-5 text-gray-600 hover:bg-gray-200 rounded-md" routerLink="/works">
                <span class="mx-4 font-medium">Works</span>
            </a>
            <a class="flex items-center px-4 py-2 mt-5 text-gray-600 hover:bg-gray-200 rounded-md"
                routerLink="/contact">
                <span class="mx-4 font-medium">Contact</span>
            </a>
        </nav>
    </div>
</div>
<!-- Content -->
<div class="flex-1 p-10 text-2xl font-bold lg:ml-64">
    <router-outlet></router-outlet>
</div>