<div class="dark:bg-gray-900 flex justify-end ">
    <label class="inline-flex items-center cursor-pointer mt-4">
        <input (click)="toggleDarkMode()" type="checkbox" value="" class="sr-only peer">
        <div
            class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
        </div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300 mr-4">
            {{ isDarkMode ? 'Switch to Light Mode' : 'Switch to Dark Mode' }}
        </span>
    </label>
</div>
<div
    class="flex flex-col items-start w-64 p-4 bg-white border-r h-screen dark:bg-gray-900 dark:border-gray-700 fixed top-0 left-0 h-full w-[200px] hidden lg:flex flex-col">
    <div class="text-4xl font-bold mb-8 dark:text-white">Anushka</div>
    <nav class="space-y-4">
        <a href="#section1"
            class="sidebarNavItem  scrollLink block text-lg font-medium text-black hover:text-gray-800 dark:text-gray-300 dark:hover:text-white">Home</a>
        <a href="#section2"
            class="sidebarNavItem  scrollLink block text-lg font-medium text-black hover:text-gray-800 dark:text-gray-300 dark:hover:text-white">About</a>
        <a href="#section3"
            class="sidebarNavItem  scrollLink block text-lg font-medium text-black hover:text-gray-800 dark:text-gray-300 dark:hover:text-white">Experience</a>
        <a href="#section4"
            class="sidebarNavItem  scrollLink block text-lg font-medium text-black hover:text-gray-800 dark:text-gray-300 dark:hover:text-white">Works</a>
        <a href="#section5"
            class="sidebarNavItem  scrollLink block text-lg font-medium text-black hover:text-gray-800 dark:text-gray-300 dark:hover:text-white">Contact</a>
    </nav>
</div>


<!-- Hamburger Icon for mobile screens (visible only on small screens) -->
<button id="menu-btn" class="sm:hidden fixed top-4 left-4 z-50 text-gray-900 dark:text-gray-200 focus:outline-none">
    <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
</button>

<!-- Sidebar for mobile screens (hidden by default) -->
<!-- <div id="mobileSidebar"
    class="fixed inset-y-0 left-0 w-64 bg-white dark:bg-gray-800 p-4 transform -translate-x-full transition-transform duration-300 z-40 lg:hidden">
    <a class="scrollLink" href="#section1">
        <div class="sidebarNavItem">Home</div>
    </a>
    <a class="scrollLink" href="#section2">
        <div class="sidebarNavItem">About</div>
    </a>
    <a class="scrollLink" href="#section3">
        <div class="sidebarNavItem">Experience</div>
    </a>
    <a class="scrollLink" href="#section4">
        <div class="sidebarNavItem">Works</div>
    </a>
    <a class="scrollLink" href="#section5">
        <div class="sidebarNavItem">Contacts</div>
    </a>
</div> -->
<div id="mobileSidebar"
    class="fixed inset-y-0 left-0 w-64 bg-white dark:bg-gray-800 p-4 transform -translate-x-full transition-transform duration-300 z-40 lg:hidden">
    <a class="scrollLink" href="#section1">
        <div
            class="w-full h-14 outline-none border-none flex items-center justify-center text-xl mb-0.5 pt-2.5 text-gray-900 dark:text-gray-300 transition-colors duration-300 hover:bg-gray-200 dark:hover:bg-gray-700">
            Home</div>
    </a>
    <a class="scrollLink" href="#section2">
        <div
            class="w-full h-14 outline-none border-none flex items-center justify-center text-xl mb-0.5 pt-2.5 text-gray-900 dark:text-gray-300 transition-colors duration-300 hover:bg-gray-200 dark:hover:bg-gray-700">
            About</div>
    </a>
    <a class="scrollLink" href="#section3">
        <div
            class="w-full h-14 outline-none border-none flex items-center justify-center text-xl mb-0.5 pt-2.5 text-gray-900 dark:text-gray-300 transition-colors duration-300 hover:bg-gray-200 dark:hover:bg-gray-700">
            Experience</div>
    </a>
    <a class="scrollLink" href="#section4">
        <div
            class="w-full h-14 outline-none border-none flex items-center justify-center text-xl mb-0.5 pt-2.5 text-gray-900 dark:text-gray-300 transition-colors duration-300 hover:bg-gray-200 dark:hover:bg-gray-700">
            Works</div>
    </a>
    <a class="scrollLink" href="#section5">
        <div
            class="w-full h-14 outline-none border-none flex items-center justify-center text-xl mb-0.5 pt-2.5 text-gray-900 dark:text-gray-300 transition-colors duration-300 hover:bg-gray-200 dark:hover:bg-gray-700">
            Contacts</div>
    </a>
</div>


<!-- Sections -->
<div class="content-container lg:pl-[200px]">
    <section class="top"></section>

    <section class="section" name="section1" id="section1">
        <app-home></app-home>
        <div id="pageNumberDisplay"
            class="fixed text-[15rem] sm:text-[25rem] md:text-[30rem] text-gray-900 dark:text-gray-100 font-bold right-12 sm:right-16 md:right-20 top-1/4 transform -translate-y-1/4 opacity-10 pointer-events-none">
            {{ '0' + currentSection }}
        </div>
    </section>

    <section class="section bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-100" name="section2" id="section2">
        <app-about></app-about>
    </section>

    <section class="section bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-100" name="section3" id="section3">
        <app-experience></app-experience>
    </section>

    <section class="section bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-100" name="section4" id="section4">
        <app-works></app-works>
    </section>

    <section class="section bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-100" name="section5" id="section5">
        <app-contacts></app-contacts>
    </section>
</div>