.sidebarNav {
  outline: 0px solid;
  width: 80px;
  transition: 0.3s;
  position: fixed;
  right: -55px;
  top: 25px;
  background-color: #22d3ee;
  opacity: 0;
  z-index: 1000;
  border-radius: 7px 0px 0px 7px;
  overflow: hidden;
}

.sidebarNavIn {
  right: 0;
  margin-right: 0px;
  opacity: 1;
}

.sidebarNavItem {
  width: 100%;
  height: 55px;
  outline: 0px;
  border: 0px;
  display: block;
  background-color: #aaa;
  border: 0px solid white;
  transition: 0.3s;
  text-align: center;
  font-size: 12px;
  margin-bottom: 2px;
  padding-top: 10px;
  color: white;
  font-family: roboto, arial, sans-serif;
  font-weight: 100;
}

.sidebarNavItem:hover {
  outline: 0px;
  /* background-image:linear-gradient(155deg, #ef6c00 25%, orange 75%); */
  background-color: #ef6c00;
  transform: scale(1, 1);
}

.sidebarNav a:hover {
  text-decoration: none;
}
