<div class="sidebarNav">
    <a class="scrollLink" href="#section1">
        <div class="sidebarNavItem">Home</div>
    </a>
    <a class="scrollLink" href="#section2">
        <div class="sidebarNavItem">About</div>
    </a>
    <a class="scrollLink" href="#section3">
        <div class="sidebarNavItem">Experience</div>
    </a>
    <a class="scrollLink" href="#section4">
        <div class="sidebarNavItem">Works</div>
    </a>
    <a class="scrollLink" href="#section5">
        <div class="sidebarNavItem">Contacts</div>
    </a>
</div>
<section class="top">
</section>
<section class="section" name="section1" id="section1">
    <app-home></app-home>
</section>
<section class="section" name="section2" id="section2">
    <app-about></app-about>
</section>
<section class="section" name="section3" id="section3">
    <app-experience></app-experience>
</section>
<section class="section" name="section4" id="section4">
    <app-works></app-works>
</section>
<section class="section" name="section5" id="section5">
    <app-contacts></app-contacts>
</section>