.scroll-underline {
  @apply relative inline-block overflow-hidden w-[150px];
}
.scroll-underline::after {
  content: "";
  @apply absolute bottom-0 left-0 w-full h-[1px] bg-blue-600;
  transform-origin: left;
  transform: scaleX(0);
  animation: underline-grow 0.5s ease forwards;
}

.scroll-underline:hover::after {
  transform: translateX(0);
  animation: scroll-underline 1s ease-out forwards;
}

@keyframes underline-grow {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.hamburger {
  @apply hidden fixed right-4 top-4 text-2xl bg-none border-none text-white cursor-pointer z-[1001];
}
@media (max-width: 1024px) {
  .hamburger {
    @apply block;
  }
}
